<h1>Edit User</h1>
<hr>
<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
    <%= f.text_field :home_city, placeholder: "Current City" %>
  </div>
  <%= f.submit "Update Fields" %>
<% end %>

