<div>
	<div class="wrap">
    <div class="floatleft"></div>
    <div class="floatright"></div>
    <div style="clear: both;">
</div>
  
<div>
  <p>First Name: <%= @user.first_name.upcase %></p> <br>
  <p>Last Name: <%= @user.last_name.upcase %></p> <br>
  <p>Current City: <%= @user.home_city.upcase %></p> <br>
  <p>Date Joined: <%= @user.created_at.strftime("%d %b. %Y") %></p> <br>
</div>

  	<h2>Posts</h2>
  	<ul>
  	</ul> 
  </div>

  <p><%= link_to "edit this user", edit_user_path(@user) %></p>
  <p><%= link_to "delete this user", user_path(@user), method: :delete %></p>


