<div class="floatleft">
<ul>
  <h2>Profile</h2><br>
  <img id="profile_image" src="<%= @user.image %>"></img><br>
  <br><li>Name: <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></li>
  <li>Current City: <%= @user.home_city.capitalize %></li>
  <li>Date Joined: <%= @user.created_at.strftime("%d %b. %Y") %></li><br>
  <li id ="edit_user"><%= link_to "Edit this user", edit_user_path(@user) %></li>
</ul>
  
</div>

<div class="floatright">
  <h2 >Posts</h2><br>
	<p><% @user.posts.each do |post| %></p>
	<p>Title: <%= link_to post.title.capitalize, show_post_path(post) %></p>
  <p>Content: <%= link_to post.content.capitalize, show_post_path(post) %></p>  
	<% end %>
  	
  </div>



