<!DOCTYPE html>
<html>
  <head>
    <title>VagabondApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- column for vagabond -->
      <!-- column for login -->
      <h3>Vagabond</h3>
      <section id = "login">
        <ul>
          <% if current_user %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Create Account", new_user_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </section>
    </header>
    <section id="content"
    	<% flash.each do |name, msg| %>
   	  <p><small> <%= name.capitalize %>: <%= msg %> </small></p>
      <% end %>

      <%= yield %>
    </section>
      <footer>
        <p>Created by Sherif & Tina for General Assembly </p>
      </footer>
    </section>
  </body>
</html>
